#image-gallery {
      width: 100%;
      position: relative;
      height: 100%;
      background: #000;
}
#image-gallery .image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
}
#image-gallery .prev,
#image-gallery .next {
  position: absolute;
  height: 32px;
  margin-top: -66px;
  top: 50%;
}
#image-gallery .prev {
  left: 20px;
  cursor: pointer;
}
#image-gallery .next {
  right: 20px;
  cursor: pointer;
}
#image-gallery .footer-info {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: white;
  border-top: 1px solid #FFF;
}