html, body {
    /*height: 100%;*/
	background-color: white;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
h1 {
	text-align: left;
	font-size: 60px;
}
h2 {
	color: rgb(0, 51, 153); 
	font-weight: normal;
}
h3 {
	margin-top:0px;
	margin-bottom:0px;
	font-size:20px;
}
header {
	/*display: block;
	color: white;
	background-color: black;
	text-align: center;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #808080;
	height: 200px;
	overflow: hidden;*/
	/*background-color: rgb(0, 13, 51);*/
}
#background {
	background-size:cover;
	background-image: url("images/Background.jpg");
	padding-top: 20%;
	margin-bottom: -100px;
	min-width: 920px;
}
#title {
	/* float: left; */
	/*display: block;*/
	margin: 0 auto;
	max-width: 1080px;	
	min-width: 920px;
	/*vertical-align: middle;*/
	padding-top: 30px;
	padding-bottom: 40px;
	/*padding-left: 17%;*/
	background-color: rgb(0, 51, 153); 
	/*height: 50px;*/
	font-size: 30px;
	/* color: #e6e6fa; */
	color: white;
	margin-bottom: -25px;
	position: relative;
	z-index: 1;
    /*background-repeat: no-repeat;*/

}
#title_content {
	max-width: 1080px;	
	min-width: 920px;
	margin: 0 auto;
	/*padding-left: 20px;*/
    /*width: calc(100% - 20px);*/
    /*background-color: white;*/
}
#title_content1 {
	padding-left: 20px;
    /*width: calc(100% - 20px);*/
}
#search {
	float: right;
	padding-right: 20%;
}
ul {
    list-style-type: none;
    margin: auto;
    /*width: 70%;*/
	background-color: rgb(0, 34, 102);
	padding: 0;
	/* margin-top: 75px; */
	position: relative;
	z-index: 2;
}
ul li {
    display: inline-block;
	/* text-align: center; */
	/* padding: 12px 16px; */
}

ul li a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;

}
ul li a:hover {
	background-color: rgb(2, 2, 59);
}
#content {
	max-width: 1080px;	
	min-width: 920px;
	margin: 0 auto;
	/*display: inline-block;*/
	/*margin-left: 16%;*/
	/*margin-right: 15%;*/
	/* margin-top: 20px; */
	overflow:auto; 
}
.container {
	/*padding-right: 330px;*/
    /*overflow: hidden;*/


    margin: 0px 20px;
    width: calc(100% - 40px);
}
#left {
	/*float: left;
	width: calc(70% - 15px);
	height: 100%;
	margin-right: 15px;*/
	/* margin-top: 20px; */
	margin-left: 20px;
	float: left;
    width: calc(100% - 20px);
}
#right {
	/*float: left;*/
	/*width: 30%;*/
	background-color: #edf0f7;
	/*height: 100%;*/

	float: right;
    margin-right: -330px;
    width: 300px;
}

#left,
#right {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}
#about {
	/* background-color: white; */
	/* margin-left: 15%; */
	/* margin-right: 35%; */
	/* margin-top: 20px; */
}
#about a:visited {
	/* float: left; */
	/* width: 53%; */
	/* padding-left: 15%; */
	/* padding-top: 0%; */
	/*background-color: white;*/
	/* height: 100%; */
	/* font-size: 14px; */
   /* text-decoration: none;
	color: black;*/	
}
#about a {

}
#about a:hover {
	/*color: rgb(0, 51, 153);	*/
    /*text-decoration: none;*/
}
#manuscripts a:visited {
	/* float: left; */
	/* width: 53%; */
	/* padding-left: 15%; */
	/* padding-top: 0%; */
	/*background-color: white;*/
	/* height: 100%; */
	/* font-size: 14px; */
    text-decoration: none;
	color: black;	
}
#manuscripts a {
	color: black;	
    text-decoration: none;
}
#manuscripts a:hover {
	color: rgb(0, 51, 153);	
    text-decoration: none;
}
/* .manuscripts img {
	margin-right: 15px;
} */
.row {
	width: 100%;
	position: relative;
	overflow: auto;
	margin-bottom: 30px;
}
.half {
	width: 50%;
	float: left;
}
.iconDetails{
	float:left; 
	margin-right: 15px;
	/* height: 300px; */
	width: 45%;
}
.description{
	width: 45%;
	float: left;
	margin-right: 2%;
}
#essays {
	/* float: left; */
    /* width: 26%; */
	/* background-color: #e6e6fa; */
	padding-left: 15px;
	padding-right: 15px;

	/* height: 300%; */
}
footer {
	text-align: center;
	color: white;
	height: 50px;
	background-color: black;
}

.new_titles {
	/*width:calc(25% - 40px);*/
	/*padding-left:40px;*/
	height:160px;
	float:left;
	background-color: rgb(245,245,245);
	text-align:center;
	width:calc(25% - 30px);
	margin-right:30px;
	padding-top:90px;

}

.image {
	width:25%;
	height:250px;
	/*background-position: -720px -300px;*/
	float: left;
    
}
.image_link{
	display:block;
	text-indent:-9999px;
}
#arsenal_3113 {
	background-image: url("http://gallica.bnf.fr/ark:/12148/btv1b10510319x/f335.highres");
	width:25%;
	height:150px;
	background-position: -720px -300px;
	float: left;
}
#arsenal_3142 {
	background-image: url("http://gallica.bnf.fr/ark:/12148/btv1b55003999w/f465.highres");
	width:25%;
	height:150px;
	background-position: -720px -300px;
	float: left;
}